.incomplete {
  list-style: none;
  padding: 0;
  justify-content: center;
}

input {
  margin: .5em;
}

.addItem {
  width: 20em;
}

form {
  flex-flow: column;
}

.complete {
  list-style: circle;
}
