<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <ul>
      <form action="/" method="post">
        <div>
        <p>{{listName}}</p>
        <input class="addItem" type="text" name="item" value="" placeholder="Add Item">
      </form>
        <ul>
          <form>
        {{#list}}
        <li>
          <input type="submit" href="/{{item}}">
          <label>{{item}}</label>
        </li>
        {{/list}}
      </form>
      </ul>
      </form>
    </ul>
  </body>
</html>
